header nav {
  background-color: rgb(35, 37, 54);
  height: 10vh;
}
header nav .container {
  width: 100%;
  max-width: 1300px;
}
header nav .container .flex button {
  padding: 20px 50px;
  background-color: #ffffff;
  border-radius: 4px;
  color: rgb(35, 37, 54);
}
header .featured {
  width: 100%;
  height: 70vh;
  background-color: #f4f0f8;
}
header .featured div {
  width: 43%;
  margin: auto;
  height: 45vh;
}
header .featured div button {
  padding: 18px 40px;
  background-color: #ffd050;
  border: #ffd050;
}

main {
  width: 90%;
  height: 400vh;
  margin: auto;
}
main .posts {
  width: 100%;
  height: 100vh;
}
main .posts .post {
  width: 100%;
  height: 50vh;
}
main .posts .post img {
  padding: 20px;
  width: 46%;
  height: 100%;
}
main .category {
  width: 100%;
  height: 60vh;
  margin-top: 1200px;
}
main .category .cate div {
  border: 1px gray solid;
  padding: 30px;
}
main .join_us {
  width: 33%;
  height: 50vh;
}
main .join_us button {
  background-color: #ffd050;
  padding: 16px 48px;
  font-weight: 700;
  font-size: 18px;
}

footer {
  height: 70vh;
  background-color: rgb(35, 37, 54);
}
footer .container nav {
  height: 15vh;
}
footer .container .content {
  height: 35vh;
  background-color: rgba(76, 76, 76, 0.5);
}
footer .container .content .flex input {
  background-color: rgba(76, 76, 76, 0.5);
  padding: 10px;
  width: 300px;
  height: 50px;
}
footer .container .content .flex input:focus {
  outline: none;
}
footer .container .content .flex button {
  background-color: rgb(255, 208, 80);
  padding: 10px 50px;
  color: rgb(35, 37, 54);
}

.cate_top {
  width: 100%;
  height: 40vh;
  background-color: #f4f0f8;
}
.cate_top div {
  width: 40%;
  height: 30vh;
  margin: auto;
}

.cate_posts {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  height: 170vh;
  margin-left: 10px;
}
.cate_posts .cate_post {
  margin-top: 20px;
  width: 100%;
  height: 40vh;
}
.cate_posts .cate_post img {
  width: 33%;
  height: 40vh;
  padding: 15px;
}

.cate_tips {
  width: 20%;
  margin-top: 50px;
  height: 100vh;
}
.cate_tips div {
  border: solid 1px rgb(106, 102, 102);
  padding: 10px 0px;
  border-radius: 1px;
  margin-top: 20px;
}
.cate_tips .withcolor {
  background-color: #ffd050;
  border: #ffd050;
}
.cate_tips .withcolor img {
  border-radius: 5px;
}
.cate_tips .tags {
  height: 50vh;
  border: none;
}
.cate_tips .tag {
  width: 40%;
  height: 6vh;
  float: right;
  margin-right: 20px;
  border-radius: 30px;
}

.contactdiv {
  width: 80%;
  height: 40vh;
  background-color: #592ea9;
  margin: auto;
}

.inputs {
  width: 80%;
  margin: auto;
  height: 80vh;
  margin-top: 50px;
}
.inputs input {
  width: 100%;
  font-size: large;
  margin-top: 20px;
  padding: 15px 25px;
  border: #7a7a7a 1px solid;
}
.inputs textarea {
  width: 100%;
  margin-top: 20px;
  padding: 15px 25px;
  border: #7a7a7a 1px solid;
}
.inputs button {
  width: 100%;
  margin-top: 20px;
  padding: 15px 25px;
  border: #ffd050 1px solid;
  background-color: #ffd050;
}

@media screen and (max-width: 384px) {
  .cate_main {
    margin-left: 10px;
    flex-direction: column;
  }
  .cate_top {
    width: 55%;
    height: 40vh;
    background-color: #f4f0f8;
  }
  .cate_top div {
    width: 100%;
    height: 30vh;
    margin: auto;
  }
  .cate_posts {
    margin-top: 170px;
    margin-bottom: 50px;
    width: 30%;
    height: 170vh;
  }
  .cate_posts .cate_post {
    margin-top: 450px;
    width: 80%;
    height: 40vh;
  }
  .cate_posts .cate_post img {
    width: 33%;
    height: 40vh;
    padding: 15px;
  }
  .cate_tips {
    width: 20%;
    margin-top: 50px;
    height: 100vh;
  }
  .cate_tips div {
    border: solid 1px rgb(106, 102, 102);
    padding: 10px 0px;
    border-radius: 1px;
    margin-top: 20px;
  }
  .cate_tips .withcolor {
    background-color: #ffd050;
    border: #ffd050;
  }
  .cate_tips .withcolor img {
    border-radius: 5px;
  }
  .cate_tips .tags {
    height: 50vh;
    border: none;
  }
  .cate_tips .tag {
    width: 100%;
    height: 6vh;
    float: right;
    margin-right: 20px;
    border-radius: 30px;
  }
  .contactdiv {
    width: 80%;
    height: 40vh;
    background-color: #592ea9;
    margin: auto;
  }
  .contactcart h3 {
    font-size: medium;
  }
  .contactcart h1 {
    font-size: large;
  }
  .inputs {
    width: 80%;
    margin: auto;
    height: 80vh;
    margin-top: 50px;
  }
  .inputs input {
    width: 100%;
    font-size: large;
    margin-top: 20px;
    padding: 15px 25px;
    border: #7a7a7a 1px solid;
  }
  .inputs textarea {
    width: 100%;
    margin-top: 20px;
    padding: 15px 25px;
    border: #7a7a7a 1px solid;
  }
  .inputs button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 25px;
    border: #ffd050 1px solid;
    background-color: #ffd050;
  }
  header nav .container ul {
    display: none;
  }
  
  header nav .container button {
    display: none;
  }
  
  header nav .container i {
    color: #ffffff;
    display: block;
    font-size: 25px;
  }
  
  
  footer .container nav ul {
    display: none;
  }
  
  footer {
    height: auto;
  }
  
  footer .container nav i {
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  footer .container .content {
    flex-direction: column;
  }
  
  footer .container .content h1 {
    display: none;
  }
  
  footer .container .content .flex {
    flex-direction: column;
  }
  
  footer .container .contact {
    flex-direction: column;
  }
  
  footer .container .contact .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer .container .contact .flex {
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */